---
// Page
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.svelte";

// Icons
import IconMail from "../components/icons/IconMail.svelte";
import IconGithub from "../components/icons/IconGithub.svelte";
import IconCv from "../components/icons/IconCv.svelte";

// Components
import Content from "../components/Content.svelte";
import Badge from "../components/Badge.svelte";
import Button from "../components/Button.svelte";
import Slider from "../components/Slider.astro";
import IconStar from "../components/icons/IconStar.svelte";
---

<Layout title="danilppzz">
  <main class="m-4">
    <Section title={""} icon={0}>
      <div class="flex items-center mt-8">
        <div class="w-20 h-20 rounded-[14px] overflow-hidden mr-4">
          <img class="max-w-full h-full object-cover" src="/icon.jpg" alt="icon" />
        </div>
        <div>
          <div class="flex justify-between items-center space-x-4">
            <h1 class="text-[24px] font-mono text-orange-300">Jose Daniel Moreno López</h1>
            <Badge text="studying" />
          </div>
          <p class="text-[14px] text-opacity-80">FullStack development</p>
          <div class="flex items-center">
            <IconMail />
            <button class="ml-2 text-[14px] hover:underline"> danilppzz@proton.me </button>
          </div>
        </div>
      </div>

      <p class="mt-4 text-justify sm:max-w-600px">
        A young man passionate about the backend but also in the frontend which has led him to be a
        FullStack.
      </p>
      <div class="bg-white max-w-3xl mx-auto bg-opacity-[18%] h-[1px] rounded-full my-8"></div>
      <div class="flex gap-4">
        <a href="https://github.com/danilppzz" target="_blank"
          ><Button variant="icon"><IconGithub /></Button></a
        >
        <a href="/resume.pdf" target="_blank"
          ><Button disabled variant="texticon"><IconCv />Resume</Button></a
        >
      </div>
    </Section>

    <Section title="Experience" icon={2}>
      <Content>
        <div class="h-[120px]"></div>
      </Content>
    </Section>

    <Section title="Projects" icon={12}>
      <div class="grid grid-cols-3 gap-4">
        <div class="w-full">
          <Content>
            <img class="w-full rounded-t-md" src="/code3.png" alt="code" />
            <div class="bg-white h-[1px] bg-opacity-5 w-full mb-1"></div>
            <div class="p-3">
              <div class="flex mb-2 items-center gap-2">
                <h1 class="font-bold text-[20px] text-white">CryptorJS</h1>
              </div>
              <p class="text-pretty text-white opacity-80">
                The cryptor library is a tool for securely hashing and comparing passwords in
                Node.js.
              </p>
              <div class="flex items-end mt-4 gap-2">
                <a href="https://github.com/danilppzz/Cryptor" target="_blank"
                  ><Button variant="icon"><IconGithub /></Button></a
                >
              </div>
            </div>
          </Content>
        </div>
        <div class="w-full">
          <Content>
            <img class="w-full rounded-t-md" src="/code2.png" alt="code" />
            <div class="bg-white h-[1px] bg-opacity-5 w-full mb-1"></div>
            <div class="p-3">
              <div class="flex mb-2 items-center gap-2">
                <h1 class="font-bold text-[20px] text-white">Tekit UI</h1>
              </div>
              <p class="text-pretty text-white opacity-60">
                React (TypeScript) & tailwind component library that works importing by command.
              </p>
              <div class="flex items-end mt-4 gap-2">
                <a href="https://github.com/danilppzz/Tekit-UI-CLI" target="_blank"
                  ><Button variant="icon"><IconGithub /></Button></a
                >
              </div>
            </div>
          </Content>
        </div>
        <div class="w-full">
          <Content />
        </div>
      </div>
    </Section>

    <!-- https://skillicons.dev/icons?i=html,css,git,ts,tailwind,nodejs,go,cpp,vscode -->
    <Section title="Technologies" icon={6}>
      <Slider />
    </Section>
    <div class="flex py-[60px] justify-center items-center">Made by danilppzz</div>
  </main>
</Layout>
