---
import Ad from "../components/Ad.svelte";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="danilppzz">
    <meta name="description" content="Developed by danilppzz" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/jpg" href="https://danilppzz.dev/icon.jpg" />
    <meta name="generator" content={Astro.generator} />
    
    <meta property="og:title" content="danilppzz">
    <meta property="og:description" content="Developed by danilppzz">
    <meta property="og:image" content="https://danilppzz.dev/danilppzz.png">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="danilppzz">
    <meta property="twitter:description" content="Developed by danilppzz">
    <meta property="twitter:image" content="https://danilppzz.dev/danilppzz.png">

    <title>{title}</title>
  </head>
  <body>
    <!-- <Ad title={"Ad"} /> -->
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;     
  }
  body {
    color: light-dark(#101010, #efedea);
    background-color: light-dark(#efedea, #101010 );
  }
</style>
